body {
    margin: 0;
    padding: 0;
    background-color: #006653;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 1400px;
    margin: 0 auto;
    height: 75vh;
}

#site-title {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 18px 18px;
}


#join-wrapper{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#username{
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    border:none;
    margin: 10px;
}

.volume-icon{
    height:20px;
    width:20px;
}

#join-btn {
    background-color: #1f1f1f8e;
    border: none;
    color: #fff;
    font-size: 22px;
    padding: 20px 30px;
    cursor: pointer;
}


#user-streams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:15px;
    height: 100%;
}


.video-player {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:  0 0 3px 2px rgba(0, 255, 0, 0.3);
}
.video-player:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    background-color: rgba(0, 0, 255, 0.44);
    padding: 15px;
    border-radius: 12px;
    cursor: no-drop;
    filter: brightness(1.5);
}


.video-containers {
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

.user-uid {
    display: flex;
    align-items: center;
    column-gap: 1em;
    background-color: #1f1f1f8e;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
    margin: 0;
    font-size: 18px;
}


#footer {
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    column-gap: 1em;
    width: 100%;
    height: 100px;
}

.icon-wrapper {
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.control-icon {
    display: block;
    padding: 15px;
    background-color: #1f1f1f8e;
    height: 30px;
    width: 30px;
    border-radius: 10px;
}
footer{
margin: 10px 5px;
}
/* rwd  */

@media screen and (max-width:1400px) {
    main {
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (max-width:800px) {
    main {
        width: 90%;
        margin: 0 auto;
    }
    #user-streams {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:15px;
        height: 100%;
    }
    
}
@media screen and (max-width:500px) {
    main {
        width: 90%;
        margin: 0 auto;
    }
    #user-streams {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:15px;
        height: 100%;
    }
    
}